body {
  background-color: #CCC;
}

#site-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#site-nav .navbar-brand {
  color: #fff;
  text-shadow: 1px 1px 1px #222;
}

#site-nav .navbar-toggle {
  box-shadow: 1px 1px 1px #3F0C1F;
  background-color: #bdbbbb;
}
#site-nav .navbar-toggle:hover {
  background-color: #dad6d6;
}



#site-nav-menu li.active a,
#site-nav-menu a:hover {
  background-color: #fde08a;
}

#site-nav-menu a {
  color: #951C49;
  text-align: center;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ececec;
}

#site-nav-menu ul {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #ffe6ac;
}

